/* All pages*/
body{
    background-color: rgba(7, 128, 227, .6);
    min-height: 100vh;
}

/* All pages*/
nav {
    text-align: center;
    background-color: rgba(52, 152, 235, 0.8);
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin: 0%;

}

.call-link {
    display: inline-block;
    text-decoration: none;
    width: 65%;
    padding-top: 2%;
}

/* All pages*/
nav>ul {
    padding: 40px;
}

.logo {
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-top: 0%;
}

img {
    width: 30%;
    margin-top: 5px;
}

/* All pages*/
ul {
    list-style-type: none;
}

/* All pages*/
li {
    display: inline;
    padding: 30px 100px;
    font-weight: 600;
}

/* Only on About Us page*/
.AboutUs {
    text-align: center;
    margin: 100px;
}

.aboutUs {
    text-align: center;
    margin: 250px 0px 100px;
}

.biography {
    padding-top: 200px;
}

img.align-left {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

img.align-left2 {
    float: left;
    margin-right: 10px;
    margin-top: 300px;
}

.biography2 {
    padding-top: 1050px;
}

.column2 {
    margin-top: 100px;
    justify-content: right;
    
}

img.align-right {
    padding-top: 250px;
    float: right;
    padding-bottom: 100px;
}

p.align-right {
    float: right;
    margin-right: 10px;
    text-align: right;
    padding-top: 300px;
}

.intake {
    background-image: url(GettyImages-916156266.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 150px;
}

.fill {
    margin-left: 7%;

}

form {
    padding-top: 80px;
    font-weight: bolder;
    background-size: contain;
    opacity: 0.8;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    padding-left: 30%;
    background-color: rgba(255, 245, 249, 0.6);
}

#fname, #lname {
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}

#email, 
#phone, 
#address, 
#city, 
#state, 
#zip {
    padding: 15px 20px;
    margin-bottom: 20px;
}

#email {
    margin-left: 32px;
    padding: 15px 178px;
}

#phone {
    margin-left: 30px;
    padding: 15px 178px;
    
}

#address {
    margin-left: 17px;
    padding: 15px 178px;
}

#city {
    margin-left: 40px;
    padding: 15px 178px;
}

#state {
    margin-left: 35px;
    padding: 15px 10px;
    margin-right: 20px;
}

#zip {
    margin-left: 7px;
    padding: 15px 20px;
}

.quote {
    font-weight: bolder;
    font-size: medium;
    padding: 20px 40px;
    border-radius: 8px;
    margin-left: 18%;
    background-color: rgba(52, 152, 235, 1);
}

.summary {
    text-align: center;
    padding: 40px;
}

.subtitle {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.summary, .information {
    text-align: center;
}

.information {
    padding-bottom: 40px;
    font-size: 20px;
}

.area2 {
    padding-left: 300px;
}

img.expansion {
    float: left;
    margin-right: 10px;
}

p.expansion {
    margin-top: 125px;
}

footer {
    background-color: rgba(52, 152, 235, 0.8);
    text-align: center;
    padding: 100px 100px;
    width: 100%;
    position: flex;
    height: 100px;
    bottom: 0;
    left: 0;
}