body{
    background-color: rgba(7, 128, 227, .1);
    min-height: 100vh;
}

nav {
    text-align: center;
    background-color: rgba(52, 152, 235, 0.4);
}

nav>ul {
    margin: 20px;
    padding: 40px;
}

.action {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.logo {
    margin-top: 5px;
    width: 10%;
    height: 140px;
    vertical-align: middle;
}

img {
    width: 30%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 30px 100px;
}

li a:active {
    background-color: bisque;
}

footer {
    background-color: rgba(52, 152, 235, 0.4);
    text-align: center;
    padding: 100px 100px;
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    top: 1500px;
}